@page "/"
@namespace MinimalBlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimal Blazor Server Application</title>
    <base href="~/" />
</head>
<body>
    <div class="app-root">
        @(await Html.RenderComponentAsync<AppRoot>(RenderMode.ServerPrerendered))
    </div>
</body>
</html>


